/*@import 'base/epiceditor';
@import 'preview/bartik';
@import 'preview/github';
@import 'preview/preview-dark';
@import 'editor/epic-dark';
@import 'editor/epic-light';*/

#map {
  height: 180px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.event-header {
  font-size: 200%;
}

.event-summary {

  i {
    margin-right: 10px;
  }

  p {
    font-size: 110%;
  }

}

.summary-button {
  font-weight: bold;
  font-size: 120%;
}

.event-container {
}

hr {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-buttons {
  margin-left: 0;

  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #ccf;
    text-decoration: none;
  }

}


/* For event logos */

$font-big: 28px;
$font-color: #333;

.mweb_events-event-logo {
  display: inline-block;
  float: left;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  color: $font-color;

  .mweb_events-event-logo-day {
    font-size: $font-big;
    line-height: $font-big;
    margin-bottom: 4px;
    white-space: nowrap;
  }

  .mweb_events-event-logo-month {
    font-size: $font-big * 0.8;
    line-height: $font-big * 0.8;
    margin-bottom: 6px;
    white-space: nowrap;
  }

  .mweb_events-event-logo-hour {
    font-size: $font-big / 2;
    line-height: $font-big / 2;
    white-space: nowrap;
  }
}

.collection_check_boxes {
  margin-left: 5px;
  margin-right: 15px;
}
