= simple_form_for([@event, @participant]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, :disabled => current_user.present?

  = f.button :wrapped, :cancel => event_path(@event), :value => t(".submit")