%h1 Listing participants

%table
  %tr
    %th Owner
    %th Email
    %th Event
    %th
    %th
    %th

  - @participants.each do |participant|
    %tr
      %td= participant.owner
      %td= participant.email
      %td= participant.event
      %td show
      %td edit
      %td destroy
      /%td= link_to 'Show', participant
      /%td= link_to 'Edit', edit_event_participant_path(@event, participant)
      /%td= link_to 'Destroy', participant, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br