%h1 Listing participants

%table
  %tr
    %th Owner
    %th Email
    %th Event
    %th
    %th
    %th

  - @participants.each do |participant|
    %tr
      %td= participant.owner.try(:email)
      %td= participant.email
      %td= participant.event.name
      %td show
      %td edit
      %td= link_to 'Destroy', event_participant_path(@event, participant), :method => :delete, :data => { :confirm => 'Are you sure?' }
      /%td= link_to 'Show', participant
      /%td= link_to 'Edit', edit_event_participant_path(@event, participant)
%br