// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
//

@import 'base/epiceditor';
@import 'preview/bartik';
@import 'preview/github';
@import 'preview/preview-dark';
@import 'editor/epic-dark';
@import 'editor/epic-light';

@import 'compass';

.event-header {
  height: 280px;
}

.event-description {
  background-color: #eee;
}

.rounded {
  @include border-radius(10px);
  padding:15px 15px 15px 15px;
}

.summary {
  background-color: #eee;
}

#map {
  height: 180px;
}

.event-container {
  /*padding-top: 60px;*/
}

hr {
  padding-top: 10px;
  padding-bottom: 10px;
}
