/*@import 'base/epiceditor';
@import 'preview/bartik';
@import 'preview/github';
@import 'preview/preview-dark';
@import 'editor/epic-dark';
@import 'editor/epic-light';*/

@import 'compass';

#map {
  height: 180px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.event-header {
  height: 280px;
  font-size: 200%;
}

.event-summary {

  i {
    margin-right: 10px;
  }

  p {
    font-size: 110%;
  }

}

.summary-button {
  font-weight: bold;
  font-size: 120%;
}

.event-container {
}

hr {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-buttons {
  margin-left: 0;

  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #ccf;
    text-decoration: none;
  }

}