%h2 Registration

%section.event-registration
  %table
    %colgroup
      %col#col_tkt_name
      %col#col_tkt_date
      %col#col_tkt_qty
    %thead
      %tr
        %th Type
        %th Available until
        %th Remaining
    %tbody
      %tr
        %td{colspan: "6"} Not available

  .btn.large.main
    Inscreva-se