%section.event-share
  %ul.social-buttons

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-facebook-square
        Facebook

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-foursquare
        Foursquare

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-google-plus-square
        Google+

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-linkedin-square
        Linkedin

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-pinterest-square
        Pinterest

    %li.badge.badge-info
      %a{:href => '#'}
        %i.fa.fa-twitter-square
        Twitter