%table{cellpadding: "0", cellspacing: "0"}
  %tr
    %td _your text_
    %td.arrow →
    %td
      %em your text
  %tr
    %td **your text**
    %td.arrow →
    %td
      %strong your text
  %tr
    %td `my code`
    %td.arrow →
    %td
      %code my code
  %tr
    %td
      * Bulleted list
      %br>/
      * Second item
    %td.arrow →
    %td
      \• Bulleted list
      %br>/
      \• Second item
  %tr
    %td
      1. Numbered list
      %br>/
      1. Second item
    %td.arrow →
    %td
      1. Numbered list
      %br>/
      2. Second item
  %tr
    %td [link name](URL)
    %td.arrow →
    %td
      %a{href: "URL"} link name
  %tr
    %td ![Alt text](URL)
    %td.arrow →
    %td Image
  %tr
    %td
      \## Header
      %br>/
      \### Subheader
      %br>/
      \#### Subsubhead
      %br>/
      \##### Etc.
    %td.arrow →
    %td
      %b
        %span{style: "font-size:1.73em"} Header
        %br/
        %span{style: "font-size:1.44em"} Subheader
        %br/
        %span{style: "font-size:1.2em"} Subsubhead
        %br/
        %span{style: "font-size:1em"} Etc.
  %tr
    %td ***
    %td.arrow →
    %td Horizontal rule