%h2 Registration

%section.event-registration

  - if can? :register, @event
    = link_to t('.button'), new_event_participant_path(@event), :class => 'btn large main'

  - if can? :update, @event
    = link_to t('.manage'), event_participants_path(@event)
