%section.event-share
  %ul.social-buttons

    %li.badge.badge-info
      %a{:href => facebook_button_url, :target => '_blank'}
        %i.icon.icon-facebook-sign
        = t('.facebook')

    %li.badge.badge-info
      %a{:href => '#'}
        %i.icon.icon-foursquare
        Foursquare

    %li.badge.badge-info
      %a{:href => googleplus_button_url}
        %i.icon.icon-google-plus-sign
        = t('.google+')

    %li.badge.badge-info
      %a{:href => '#'}
        %i.icon.icon-linkedin-sign
        Linkedin

    %li.badge.badge-info
      %a{:href => '#'}
        %i.icon.icon-pinterest-sign
        Pinterest

    %li.badge.badge-info
      %a{:href => twitter_button_url, :target => '_blank'}
        %i.icon.icon-twitter-sign
        = t('.twitter')
